/**
 * Pro Admin CSS file
 *
 * This file contains custom admin CSS styling
 */

/*-----------------------------*/
/*- CUSTOMIZER CONTROLS ------ */
.layers-control-title-marker {
	font-size: 9px;
	text-transform: uppercase;
	margin: 0 0 0 3px;
	border-radius: 100px;
	padding: 0px 4px;
	border: 1px solid #696969;
	color: #000000;
	opacity: .2;
	letter-spacing: 0px;
}

/*---------------------------*/
/*- MENU SOCIAL ICONS ------ */
.layer-pro-menu-icons-interface {
	float: none;
	clear: both;
	border-top: 1px solid rgba(0, 0, 0, 0.06);
	margin: 20px 0 0;
	padding: 12px 0;
	display: none;
	visibility: hidden;
}
.layer-pro-menu-icons-interface label {
	font-style: italic;
	margin: 3px 0 9px;
	display: block;
}
.layer-pro-menu-icons-interface .layers-icon-group .layers-icon-wrapper {
	width: 15px;
	background: #FFF;
}
.layer-pro-menu-icons-interface .layers-icon-group .layers-icon-wrapper:hover{
	background: #2EA2CC;
}
.layer-pro-menu-icons-interface .layers-icon-group .layers-icon-wrapper .fa {
	font-size: 15px;
	line-height: 14px;
	vertical-align: middle;
	position: relative;
	top: -2px;
}
#new-custom-menu-item .button-controls {
	overflow: hidden;
}


/*---------------------------*/
/*- ICON-WRAPPER ------------*/
.layers-visuals-item .layers-icon-wrapper{
	padding: 10px 5px 8px;
	margin: 4px;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 3px;
	text-align: center;
	color: #444;
	outline: 0;
	transform: translateY(0px);
	transition: all 0.2s ease-in-out;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0);
}
.layers-visuals-item input {
	display: none;
}
.layers-visuals-item .layers-icon-wrapper:focus{
	box-shadow: none;
}
.layers-visuals-item .layers-icon-wrapper:hover{
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0), 0px 1px 0px #006799;
	background: #008EC2;
	border-color: #006799;
	color: #fff;
}
.layers-visuals-item.layers-active > .layers-icon-wrapper,
.layers-visuals-item.layers-active > .layers-icon-wrapper:hover{
	background: #e7e7e7;
	border-color: #ccc;
	color: #444;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.layers-visuals-item .layers-icon-wrapper.layers-active,
.layers-visuals-item .layers-icon-wrapper.layers-active:hover{
	background: #e7e7e7;
	border-color: #ccc;
	color: #444;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0);
}
	/*---------------------------*/
	/*- ICON-GROUP --------------*/
	.layers-icon-group {
		overflow: hidden;
		padding: 0;
		display: inline-block;
	}
	.layers-icon-group .layers-icon-wrapper{
		display: block;
		float: left;
		width: 16px;
		margin: 0 1px 1px 0 !important;
		padding: 3px 7px !important;
		background: rgb(255, 255, 255);
		border: 1px solid #EAEAEA;
		border-radius: 3px;
		box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0), 0 1px 0 rgba(255, 255, 255, 0);
		text-align: center;
	}
	.layers-icon-group .layers-icon-wrapper [class*="icon-"],
	.layers-icon-group .layers-icon-wrapper [class*="fa"] {
		font-size: 16px;
	}
	.layers-icon-group .layers-icon-wrapper .layers-icon-description{
		display: none !important;
	}
	.layers-icon-group .layers-icon-wrapper.layers-select-images{
		clear: both;
		width: 100%;
	}
	.layers-icon-group .layers-icon-wrapper img{
		max-width: 100%;
	}